In [ ]:
#Este programa é utilizado para o desenvolvimento do trabalho prático da disciplina FAM do bootcamp de MLE

In [ ]:
#importando as bibliotecas
import pandas as pd #biblioteca utilizada para o tratamento de dados via dataframes 
import numpy as np #biblioteca utilizada para o tratamento de valores numéricos (vetores e matrizes)
import matplotlib.pyplot as plt #biblioteca utilizada para construir os gráficos

In [ ]:
from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
uploaded = files.upload()

Saving comp_bikes_mod.csv to comp_bikes_mod (1).csv

In [ ]:
data = pd.read_csv('comp_bikes_mod.csv')

In [ ]:
data.dropna(subset=['dteday'], inplace=True)

In [ ]:
dtedaydrop = data['dteday']

data.update(data['dteday'].fillna(dtedaydrop))

In [ ]:
data.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [ ]:
#apresentando as 5 primeiras linhas do dataset
dataframe_comp_bikes.head()

   instant      dteday  season   yr  ...  windspeed  casual  registered   cnt
0      1.0         NaN     1.0  0.0  ...        0.0     3.0        13.0  16.0
1      2.0  2011-01-01     1.0  0.0  ...        0.0     8.0        32.0  40.0
2      3.0  2011-01-01     1.0  0.0  ...        0.0     5.0        27.0  32.0
3      4.0  2011-01-01     1.0  0.0  ...        0.0     3.0        10.0  13.0
4      5.0  2011-01-01     1.0  0.0  ...        0.0     0.0         1.0   1.0

[5 rows x 17 columns]

In [ ]:
dataframe_comp_bikes.info() #verificando os tipos de variáveis e se existem ou não valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     15641 non-null  float64
 1   dteday      15641 non-null  object
 2   season      15641 non-null  float64
 3   yr          15641 non-null  float64
 4   mnth        15641 non-null  float64
 5   hr          15641 non-null  float64
 6   holiday     15641 non-null  float64
 7   weekday     15641 non-null  float64
 8   workingday  15641 non-null  float64
 9   weathersit  15641 non-null  float64
 10  temp        15641 non-null  float64
 11  atemp       15641 non-null  float64
 12  hum         15641 non-null  float64
 13  windspeed   15641 non-null  float64
 14  casual      15641 non-null  float64
 15  registered  15641 non-null  float64
 16  cnt         15641 non-null  float64
dtypes: float64(16), object(1)
memory usage: 2.3+ MB

**Existem Colunas Com Valores Nulos?**

In [ ]:
dataframe_comp_bikes.shape

(17379, 17)

**Quantas Instâncias e Características Existem no Dataset?**

In [ ]:
#analisando a "estatística" do dataset
dataframe_comp_bikes.describe()

           instant  season      yr  ...       casual   registered          cnt
count  1116.000000  1117.0  1106.0  ...  1128.000000  1120.000000  1118.000000
mean    624.632616     1.0     0.0  ...     6.273050    56.403571    64.562612
std     357.488192     0.0     0.0  ...    10.529036    50.836414    56.621433
min       1.000000     1.0     0.0  ...     0.000000     0.000000     1.000000
25%     312.500000     1.0     0.0  ...     1.000000    16.000000    19.000000
50%     623.500000     1.0     0.0  ...     3.000000    48.000000    54.000000
75%     929.250000     1.0     0.0  ...     7.000000    78.000000    91.000000
max    1242.000000     1.0     0.0  ...   102.000000   275.000000   327.000000

[8 rows x 16 columns]

**Qual é o Valor Médio Para os Pesos Declarados?**

In [ ]:
#identificando possíveis outliers
dataframe_comp_bikes[['declared_quantity','days_in_transit']].boxplot()

KeyError: ignored

**Existem Possíveis Outliers?**

In [ ]:
#realizando a análise de regressão
x=dataframe_envio_portos['declared_weight'].values  #variável independente 
Y=dataframe_envio_portos['actual_weight'].values #variável dependente

In [ ]:
#importa o modelo de regressão linear univariada
from sklearn.linear_model import LinearRegression

In [ ]:
#Realiza a construção do modelo de regressão
reg= LinearRegression()
x_Reshaped=x.reshape((-1, 1)) #coloca os dados no formato 2D
regressao= reg.fit (x_Reshaped,Y) # encontra os coeficientes (realiza a regressão)

In [ ]:
#realiza a previsão
previsao=reg.predict(x_Reshaped)

In [ ]:
#análise do modelo
from sklearn.metrics import r2_score #método para o cálculo do R2 (coeficiente de determinação)

In [ ]:
#parâmetros encontrados
print('Y = {}X {}'.format(reg.coef_,reg.intercept_))

R_2 = r2_score(Y, previsao)  #realiza o cálculo do R2

print("Coeficiente de Determinação (R2):", R_2)

**Pelo Coefiente de Determinação, o Que É Possível Afirmar Sobre a Relação Entre as Variáveis Peso Real x Peso Declarado?**

In [ ]:
#realiza o plot dos dados
plt.figure(figsize=(4, 4), dpi=100)
plt.scatter(x, Y,  color='gray') #realiza o plot do gráfico de dispersão
plt.plot(x, previsao, color='red', linewidth=2) # realiza o plto da "linha"
plt.xlabel("Peso Declarado")
plt.ylabel("Peso Real")
plt.show()

In [ ]:
data = data.copy(deep=True)
data.fillna(data.mean(),inplace=True)