In [ ]:
import pandas as pd #biblioteca utilizada para o tratamento de dados via dataframes 
import numpy as np #biblioteca utilizada para o tratamento de valores numéricos (vetores e matrizes)
import matplotlib.pyplot as plt #biblioteca utilizada para construir os gráficos
import seaborn as sns

#importa o modelo de regressão linear univariada
from sklearn.linear_model import LinearRegression

#análise do modelo
from sklearn.metrics import r2_score #método para o cálculo do R2 (coeficiente de determinação)

from sklearn.tree import DecisionTreeRegressor

from sklearn.model_selection import train_test_split

In [ ]:
data = pd.read_csv('bike-sharing.csv')

In [ ]:
dataDF = pd.DataFrame(data)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [ ]:
data.isnull().mean()

datetime             0.0
rec_id               0.0
season               0.0
year                 0.0
month                0.0
hour                 0.0
is_holiday           0.0
weekday              0.0
is_workingday        0.0
weather_condition    0.0
temp                 0.0
atemp                0.0
humidity             0.0
windspeed            0.0
casual               0.0
registered           0.0
total_count          0.0
dtype: float64

In [ ]:
data.isnull().sum()

datetime             0
rec_id               0
season               0
year                 0
month                0
hour                 0
is_holiday           0
weekday              0
is_workingday        0
weather_condition    0
temp                 0
atemp                0
humidity             0
windspeed            0
casual               0
registered           0
total_count          0
dtype: int64

In [ ]:
data['windspeed'].mean()

0.1900976063064631

In [ ]:
data['temp'].mean()

0.4969871684216586

In [ ]:
data[['year','total_count']].corr()

                 year  total_count
year         1.000000     0.250495
total_count  0.250495     1.000000

In [ ]:
data.corr()

                     rec_id    season  ...  registered  total_count
rec_id             1.000000  0.404046  ...    0.282046     0.278379
season             0.404046  1.000000  ...    0.174226     0.178056
year               0.866014 -0.010742  ...    0.253684     0.250495
month              0.489164  0.830386  ...    0.122273     0.120638
hour              -0.004775 -0.006117  ...    0.374141     0.394071
is_holiday         0.014723 -0.009585  ...   -0.047345    -0.030927
weekday            0.001357 -0.002335  ...    0.021578     0.026900
is_workingday     -0.003416  0.013743  ...    0.134326     0.030284
weather_condition -0.014198 -0.014524  ...   -0.120966    -0.142426
temp               0.136178  0.312025  ...    0.335361     0.404772
atemp              0.137615  0.319380  ...    0.332559     0.400929
humidity           0.009577  0.150625  ...   -0.273933    -0.322911
windspeed         -0.074505 -0.149773  ...    0.082321     0.093234
casual             0.158295  0.120206  ...    0.506618     0.694564
registered         0.282046  0.174226  ...    1.000000     0.972151
total_count        0.278379  0.178056  ...    0.972151     1.000000

[16 rows x 16 columns]

In [ ]:
data['year']

0        0
1        0
2        0
3        0
4        0
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: year, Length: 17379, dtype: int64

In [ ]:
data.loc[data['year'] == 0]

        datetime  rec_id  season  ...  casual  registered  total_count
0     2011-01-01       1       1  ...       3          13           16
1     2011-01-01       2       1  ...       8          32           40
2     2011-01-01       3       1  ...       5          27           32
3     2011-01-01       4       1  ...       3          10           13
4     2011-01-01       5       1  ...       0           1            1
...          ...     ...     ...  ...     ...         ...          ...
8640  2011-12-31    8641       1  ...      19          73           92
8641  2011-12-31    8642       1  ...       8          63           71
8642  2011-12-31    8643       1  ...       2          50           52
8643  2011-12-31    8644       1  ...       2          36           38
8644  2011-12-31    8645       1  ...       4          27           31

[8645 rows x 17 columns]

In [ ]:
data.loc[data['year'] == 1]

         datetime  rec_id  season  ...  casual  registered  total_count
8645   2012-01-01    8646       1  ...       5          43           48
8646   2012-01-01    8647       1  ...      15          78           93
8647   2012-01-01    8648       1  ...      16          59           75
8648   2012-01-01    8649       1  ...      11          41           52
8649   2012-01-01    8650       1  ...       0           8            8
...           ...     ...     ...  ...     ...         ...          ...
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[8734 rows x 17 columns]

In [ ]:
data[data['year'] == 0].total_count.sum()

1243103

In [ ]:
data[data['year'] == 1].total_count.sum()

2049576

In [ ]:
data.groupby(['season']).total_count.mean()

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64

In [ ]:
data.groupby(['hour']).total_count.mean()

hour
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Name: total_count, dtype: float64

In [ ]:
data.groupby(['weekday']).total_count.mean()

weekday
0    177.468825
1    183.744655
2    191.238891
3    191.130505
4    196.436665
5    196.135907
6    190.209793
Name: total_count, dtype: float64

In [ ]:
data[data['weekday'] == 3].groupby(['hour']).total_count.mean().sort_values(ascending=False)

hour
17    513.144231
18    494.029126
8     488.326923
19    357.504854
7     303.980769
16    272.961538
20    256.660194
9     238.528846
21    194.669903
12    193.903846
13    185.826923
15    181.288462
14    170.548077
11    152.201923
22    143.689320
10    131.894231
6     107.807692
23     83.737864
0      34.557692
5      25.750000
1      15.336538
2       7.813725
4       4.968750
3       4.888889
Name: total_count, dtype: float64

In [ ]:
data[data['weekday'] == 6].groupby(['hour']).total_count.mean().sort_values(ascending=False)

hour
13    385.371429
15    382.428571
14    381.333333
12    375.380952
16    366.142857
17    334.409524
11    328.609524
18    292.048077
10    263.723810
19    239.932692
9     186.790476
20    180.865385
21    156.000000
22    139.663462
23    115.855769
8     114.476190
0      94.304762
1      67.780952
2      50.495238
7      45.961905
3      22.885714
6      21.000000
5       8.291262
4       7.657143
Name: total_count, dtype: float64